<link rel="stylesheet" href="/app.css" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet"> 
<h1> תפריט רשומות מנחי שפת הקשב</h1>


<a href="http://teachers.sfathakeshev.co.il:3000/teachers">לכל רשומות המנחים</a>
<br> 
<a href="http://teachers.sfathakeshev.co.il:3000/search">לבחור מנחים לפי אזור</a>
