<link rel="stylesheet" href="/app.css" type="text/css">

<h1 dir="rtl"> דף ניווט מנחי שפת הקשב</h1>

<div class="container" dir="rtl">
    <a class="a1" href="http://teachers.sfathakeshev.co.il:3000/register">הרשם כמנחה חדש</a>
    <a class="a1" href="http://teachers.sfathakeshev.co.il:3000/search_teacher"> ערוך מנחה </a>
    <a class="a1" href="http://teachers.sfathakeshev.co.il:3000/">רשומות קיימות של מנחים</a>
</div>

